.container {
    display: flex;
    justify-content: space-between;
    width: 1007px;
    display: flex;
    margin: 0 auto;
}

.title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin: 88px 0 32px 0;
}

.usserListContainer {
    min-width: 575px;
}